<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="xlMdDna.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <xlMdDna.Properties.Settings>
            <setting name="AppName" serializeAs="String">
                <value>xlMdDna</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Title" serializeAs="String">
                <value>mermaid.js --- Press Enter to paste to the sheet.  ---</value>
            </setting>
        </xlMdDna.Properties.Settings>
    </userSettings>
</configuration>